@charset "UTF-8";

html {
	padding: 0px 50px;
}

.basic-board {
	border: 1px solid green;
}

.main-teme {
	border: 1px solid green;
	padding: 50px;
	text-align: center;
}

.main-navi {
	border: 1px solid green;
	padding: 30px;
	text-align: center;
}

.cursor-pointer {
	border: 1px solid green;
	cursor: pointer;
}

a:link {
	color: black;
	text-decoration: none;
}

a:visited {
	color: black;
	text-decoration: none;
}

a:hover {
	color: red;
	text-decoration: none;
}

.container-row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: flex-start;
}

.container-col {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: flex-start;
/* 	align-items: center; */
}

.item {
	width: 250px;
	height: 350px;
	margin: 20px 10px;
	border: 1px solid green;
	background: pink;
}

.thumbnail-img {
	width: 250px;
	height: 250px;
}

.overflow-text {
	display: inline-block;
	width: 250px;
	margin-top: 14px;
	font-size: 16px;
	font-weight: bold;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.background-img {
	height: 100vh;
	background-image: url("/mixed-1938302_1920.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.right-text {
	text-align: right;
	padding: 10px 0px;
}

.product-classification-header {
	font-size: 22px;
	font-weight: bold;
	margin-top: 50px;
	margin-bottom: 13px;
}

.ranking-category {
	margin: 40px 0px 10px 0px;
	font-size: 15px;
}

.container-col-login {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
}